.dropdown {
    position: static !important;
}
  
.dropdown-menu {
    margin-top: 0px !important;
    width: 100% !important;
}
.head{
    margin-top: 22px;
}
.div{
    background-color: brown;
    color: white;
    height: 1000px;
    width: 50%;
    margin: 30px;
}